<div class="container">
    <div class="form">
        <div class="form-input">
            <label for="email">E-mail</label>
            <input type="text" name="email">
        </div>

        <div class="form-input">
            <label for="password">Senha</label>
            <input type="password" name="password">
        </div>
    </div>

    <div class="btns">
        <a (click)="handleClick($event)" class="link mobile">Criar conta</a>
        <a href="#" class="btn-blue mobile">Login</a>
    </div>
</div>